<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume | Subham Paul</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <header>
        <div class="left">
            <a href="/" style="text-decoration: none;">
                <h1>Resume</h1>
            </a>
        </div>
        <div class="right">
            <a href="https://www.linkedin.com/in/subham-p-32744813a/" target="_blank">
                <img src="/logo.png" alt="right side logo" style="margin-right:50px">
            </a>
        </div>
    </header>
    <section class="first">
        <h2><span class="type">Hello, I'm Subham Paul.</span></h2>
        <p>Constantly learning and growing myself daily in the field of Technology. I love dabbling in
            various
            parts of Web and Mobile technologies. I'm a Technophile, Quick-Learner and Enthusiastic to adopt the new
            technology."</p>

        <div class="flex-container">
            <a href="https://drive.google.com/file/d/1EPfUtBbNhUvcGWQbNYB3s9V0qsqG92sP/view?usp=sharing" target="_blank"
                class="button">View Resume</a>
            <a href="/resume2021.pdf" class="button" download>Download Resume</a>
            <a href="https://subham468.github.io/subham/about.html" class="button" target="_blank">Work &
                Certification</a>
        </div>
    </section>

    <section class="second">
        <h2 class="heading">Projects in Detail</h2>

        <!-- TODO: Part - 1 : Stock Market -->
        <div class="content">
            <div class="content-part-one">
                <h3 class="subheading">Data Extraction Tool for Stock Marketing</h3>
                <p class="content-text">It is a Web-Based tool where Customer can upload the list (CSV File) and can
                    choose the company name and wants to track and give date range. Based on that These Tools give at
                    what date he should have purchased the stocks and at what date he should have sold those stocks to
                    maximise profit / minimise loss.</p>
            </div>
            <div class="circle">
                <p class="circle-text">
                    Back End
                </p>
            </div>
            <div class="content-part-two">
                <iframe width="580" height="270" src="https://www.youtube.com/embed/8aWf8N7bA2s" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>

        <!-- TODO: Part - 2 : Fashino | User Panel -->
        <div class="content" style="margin-top:25px">
            <div class="content-part-one">
                <h3 class="subheading">Fashino | e-Commerce Platform</h3>
                <p class="content-text">Fashino is an e-Commerce Platform, which focuses on Local Indian Products such
                    as - Dry Fruits and Spices. Apart from that It's India's biggest
                    online store for Mobiles, Fashion (Clothes/Shoes), Electronics, Home Appliances, Books, Home,
                    Furniture, Grocery, Jewelry, Sporting goods etc. Where user Can do various kinds of tasks such as -
                    SignUp to the Account, LogIn into Profile, Add to Cart, Remove from Cart, Purchage the Product,
                    Track the Order, Cancel the Order etc.</p>
            </div>
            <div class="circle">
                <p class="circle-text">
                    Back End
                </p>
            </div>
            <div class="content-part-two">
                <iframe width="580" height="270" src="https://www.youtube.com/embed/Berv-n7gP5s" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>

        <!-- TODO: Part - 3 :   Fashino | Admin Panel -->
        <div class="content" style="margin-top:25px">
            <div class="content-part-one">
                <h3 class="subheading">fashino | Admin Panel</h3>
                <p class="content-text">It is Fashino Administrative Panel, where Admin can manipulate the application
                    data and follow their business metrics and also use to insert new products and update the products
                    and manage the stock product.</p>
            </div>
            <div class="circle">
                <p class="circle-text">
                    Back End
                </p>
            </div>
            <div class="content-part-two">
                <iframe width="580" height="270" src="https://www.youtube.com/embed/6sra-qZAF_Q" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>

        <!-- TODO: Part - 4 : Ocoach -->
        <div class="content" style="margin-top:25px">
            <div class="content-part-one">
                <h3 class="subheading">Ocoach | Management System</h3>
                <p class="content-text">
                    Ocoach - Online Coaching Management System. Where Teacher and Student come into one platform and
                    utilizing many features like -
                    <ol style="font-size: 16px; color:antiquewhite; margin:0 60px">
                        <li>Live & Video conference Class</li>
                        <li>Online Exam</li>
                        <li>Student Management</li>
                        <li>Notifications</li>
                        <li>Payment Management</li>
                        <li>Auto-Generated Results</li>
                        <li>Distance Learning</li>

                    </ol>
                </p>
            </div>
            <div class="circle">
                <p class="circle-text">
                    Back End
                </p>
            </div>
            <div class="content-part-two">
                <iframe width="580" height="270" src="https://www.youtube.com/embed/Sm1eoU08mBI" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>


        <!-- TODO: Part - 5 : GoPakhi | Mail System -->
        <div class="content" style="margin-top:25px">
            <div class="content-part-one">
                <h3 class="subheading">GoPakhi | Mail System</h3>
                <p class="content-text">GoPakhi is a private mail System where user can signUp, LogIn and can send the
                    mail, receive the mail and upload the file, Delete the mail, Empty the Trash etc.</p>
            </div>
            <div class="circle">
                <p class="circle-text">
                    Back End
                    </>
            </div>
            <div class="content-part-two">
                <iframe width="580" height="270" src="https://www.youtube.com/embed/Oe11bRiSdS8" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>

        <!-- TODO: Part - 6 : ColorHub   -->
        <div class="content" style="margin-top:25px">
            <div class="content-part-one">
                <h3 class="subheading">ColorHub | Color Picker website</h3>
                <p class="content-text">ColorHub is a Color picker UI kit is a collection of UI elements related
                    to colors. It includes color pickers, color schemes, color pallete, Copy the Hex Color.</p>

                <p class="subheading">Access Link 👉 <a href="http://bit.ly/hubcolor" style="color:whitesmoke"
                        target="_blank">www.bit.ly/hubcolor</a> </p>
            </div>
            <div class="circle">
                <p class="circle-text">
                    Front End
                </p>
            </div>
            <div class="content-part-two">
                <iframe width="580" height="270" src="https://www.youtube.com/embed/9u1VCcAIcYI" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>

        <!-- TODO: Part - 7 : Resources   -->
        <div class="content" style="margin-top:25px">
            <div class="content-part-one">
                <h3 class="subheading">Resources</h3>
                <p class="content-text">Resources is a powerful website where User can easily find useful resources
                    related to Webdevelopment, icons, Images and Videos etc.</p>

                <p class="subheading">Access Link 👉 <a href="http://bit.ly/resrc" style="color:whitesmoke"
                        target="_blank">www.bit.ly/resrc</a> </p>

            </div>
            <div class="circle">
                <p class="circle-text">
                    Front End
                </p>
            </div>
            <div class="content-part-two">
                <iframe width="580" height="270" src="https://www.youtube.com/embed/VtrRMF3tfgA" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <!-- TODO: Part - 8 : Modern SignUp / LogIn Page   -->
        <div class="content" style="margin-top:25px">
            <div class="content-part-one">
                <h3 class="subheading">Modern SignUp and LogIn Page</h3>
                <p class="content-text">Here Using latest and Trending UI concept ``Neuomorphism`` concept, implemented
                    Modern SignUp and LogIn Page.</p>
            </div>
            <div class="circle">
                <p class="circle-text">
                    Full Stack
                </p>
            </div>
            <div class="content-part-two">
                <iframe width="580" height="270" src="https://www.youtube.com/embed/6JGrE9zt48k" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>

        <!-- TODO: Part - 9 : Datingo   -->
        <div class="content" style="margin-top:25px">
            <div class="content-part-one">
                <h3 class="subheading">Datingo | AdobeXD</h3>
                <p class="content-text">Datingo is a prototype design using by Photoshop and AdobeXD.</p>
            </div>
            <div class="circle">
                <p class="circle-text">
                    ProtoType
                </p>
            </div>
            <div class="content-part-two">
                <iframe width="580" height="270" src="https://www.youtube.com/embed/p4EpgEeQj0w" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <!-- TODO: Part - 10 : Tips | Add Emoji in windows 10   -->
        <div class="content" style="margin-top:25px">
            <div class="content-part-one">
                <h3 class="subheading">Quickly Add Emoji 😊 in Windows 10</h3>
                <p class="content-text">Quickly Add Emoji 😁 in windows 10 using the Emoji keyboard shortcut by Pressing
                    from Keyboard :- Windows + ; (semi-colon) (or) Windows + . (period) </p>
            </div>
            <div class="circle">
                <p class="circle-text">
                    Tool Tips
                </p>
            </div>
            <div class="content-part-two">
                <iframe width="580" height="270" src="https://www.youtube.com/embed/jtUCMxcN0WQ" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <!-- TODO: Part - 11 : Java Introduction   -->
        <div class="content" style="margin-top:25px">
            <div class="content-part-one">
                <h3 class="subheading">Java Introduction for Learners</h3>
                <p class="content-text">Java Introduction, all about what is JAVA? who created Java and where it comes
                    from and what are the application of JAVA.</p>
            </div>
            <div class="circle">
                <p class="circle-text">
                    Teaching
                </p>
            </div>
            <div class="content-part-two">
                <iframe width="580" height="270" src="https://www.youtube.com/embed/gKtjPULTomE" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <!-- TODO: Part - 12 : XAMPP   -->
        <div class="content" style="margin-top:25px">
            <div class="content-part-one">
                <h3 class="subheading">Technical Talk about XAMPP Server</h3>
                <p class="content-text">Technical talk about XAMPP server. How can we use XAMPP in Windows 10.</p>
            </div>
            <div class="circle">
                <p class="circle-text">
                    Tech Talk
                </p>
            </div>
            <div class="content-part-two">
                <iframe width="580" height="270" src="https://www.youtube.com/embed/gyNV89UTaEQ" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>
    <footer>
        <p style="color: #acecfc;text-align: center; padding:20px;">© Copyright 2020, &nbsp;All Rights Reserved &nbsp; |
            <a href="http://bit.ly/mementoclasses" target="_blank" style="text-decoration:none;font-size: 1.2rem;">
                &nbsp;Memento
                Classes</a>
            | <a href="http://bit.ly/hubcolor" target="_blank" style="text-decoration:none;font-size: 1.2rem;">
                &nbsp;ColorHub</a>
            | <a href="http://bit.ly/resrc" target="_blank" style="text-decoration:none;font-size: 1.2rem;">
                &nbsp;Resources</a>
        </p>

        <div style="font-size: 22px;">
            <a style="color:#acecfc;padding-left:10vw; text-decoration:none;"
                href="mailto:paulsubham100@gmail.com?cc=&subject=Want%20to%20discuss%20about%20some%20Project!!&body=Hello,%20I%20am%20Subham%20Paul.%20How%20can%20I%20help%20You?"
                target="_blank">
                <ion-icon name="mail-outline"></ion-icon>&nbsp; Paulsubham100@gmail.com<a>
                    <a style="text-decoration:none; color:#acecfc;padding-left: 40vw;" href="tel:7975437078">
                        <ion-icon name="call-outline"></ion-icon>&nbsp; +91 797-543-7078
                    </a>
        </div>

        <div style="text-align: center; font-size:3rem;padding-right:50px;">
            <a href="https://www.youtube.com/channel/UC54U2rosp_K1TAoykulHmDQ" target="_blank"
                style="text-decoration:none">
                <ion-icon name="logo-youtube"></ion-icon>
            </a>
            <a href="https://www.instagram.com/mkd00468/" target="_blank" style="text-decoration:none">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a href="https://github.com/subham468" target="_blank" style="text-decoration:none">
                <ion-icon name="logo-github"></ion-icon>
            </a>
            <a href="https://www.linkedin.com/in/subham-p-32744813a/" target="_blank" style="text-decoration:none">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a>
        </div>

    </footer>

    <!-- TODO: Typed.js -->
    <script src="/typed.js"></script>
    <script>
        var typed = new Typed('.type', {
            strings: ['', 'A Teacher', 'A Technophile', 'A Quick-Learner', 'An Enthusiastic Person'],
            typeSpeed: 50, // Default value
            backSpeed: 50, // Default value
            loop: true
        });
    </script>

</body>

</html>
